## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [5]:
data.groupby('sex')['age'].count()

sex
Female    10771
Male      21790
Name: age, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [15]:
print(data.groupby('sex')['age'].mean()['Male'])
print('---------------------')
print(data[data['sex'] == 'Male']['age'].mean())

39.43354749885268
---------------------
39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [7]:
data['native-country'].value_counts()['United-States']

29170

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [23]:
print(data.groupby('salary')['age'].aggregate(['mean', 'std']))

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028
------------

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
mean,44.249841,188005.000000,11.611657,4006.142456,195.001530,45.473026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,10.519028,102541.775472,2.385129,14570.378951,595.487574,11.012971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [255]:
HIGH = {'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'}
education_filter = data['education']== 'Bachelors'

profession_list = data[data['salary'] == '>50K']['education'].unique()

print(set(profession_list) & HIGH)
print(set(profession_list) - HIGH)

{'Assoc-voc', 'Bachelors', 'Prof-school', 'Assoc-acdm', 'Masters', 'Doctorate'}
{'7th-8th', 'HS-grad', '11th', '5th-6th', '12th', '9th', 'Some-college', '1st-4th', '10th'}

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [53]:
race = data['race']=='Asian-Pac-Islander'
sex = data['sex']=='Male'

data.groupby([sex & race])[['age', 'race', 'sex']].get_group(True).describe().loc['max']

age    90.0
Name: max, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [188]:
MARRIED = ['Married-civ-spouse', 'Married-AF-spouse', 'Married-spouse-absent']

salary = data['salary'] == '>50K'
sex = data['sex']=='Male'

result = data[salary & sex].isin(MARRIED).groupby('marital-status')['marital-status'].count()

print(result * 100 /(result[0]+result[1]))

marital-status
False    10.462324
True     89.537676
Name: marital-status, dtype: float64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [265]:
robotyagi = data[data['hours-per-week']==data['hours-per-week'].max()] 
robotyagi_num = len(robotyagi.index)

robotyagi = robotyagi.groupby('salary')['salary'].count().transform(lambda x: x*100/robotyagi_num)

robotyagi

salary
<=50K    70.588235
>50K     29.411765
Name: salary, dtype: float64

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [242]:
hoba = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
hoba

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [4]:
young = tuple(range(16, 35))
adult = tuple(range(35, 70))
retiree = tuple(range(70, 100))

def age_filter(age):
    if age in young:
        return 'young'
    elif age in adult:
        return 'adult'
    else:
        return 'retiree'

data['AgeGroup'] = data['age'].transform(age_filter)
data.groupby(['AgeGroup']).head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,adult
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,young
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,young
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,young
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,young
74,79,Private,124744,Some-college,10,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,0,0,20,United-States,<=50K,retiree
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,retiree
144,70,Private,105376,Some-college,10,Never-married,Tech-support,Other-relative,White,Male,0,0,40,United-States,<=50K,retiree
157,71,Self-emp-not-inc,494223,Some-college,10,Separated,Sales,Unmarried,Black,Male,0,1816,2,United-States,<=50K,retiree
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K,retiree

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [319]:
salary = data['salary'] == '>50K'

new = data[salary].groupby(['AgeGroup'])['salary'].count()

new['max'] = new.idxmax(axis=1)

new

AgeGroup
adult       6240
retiree      113
young       1488
max        adult
Name: salary, dtype: object

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [13]:
print('==========================================')
occupation = data['occupation']

print(data.groupby('occupation')[['age']].count())
print('=======AVG AGE <= 40 AND > 5 HOURS PER WEEK=======')

def filter_func(dataframe):
    return dataframe['age'].mean() <= 40 and (dataframe['hours-per-week']>5).all()

print(data.groupby('occupation').filter(filter_func).groupby('occupation')['age'].count())

print('==========================================')

==========================================
                    age
occupation
?                  1843
Adm-clerical       3770
Armed-Forces          9
Craft-repair       4099
Exec-managerial    4066
Farming-fishing     994
Handlers-cleaners  1370
Machine-op-inspct  2002
Other-service      3295
Priv-house-serv     149
Prof-specialty     4140
Protective-serv     649
Sales              3650
Tech-support        928
Transport-moving   1597
=======AVG AGE <= 40 AND > 5 HOURS PER WEEK=======
occupation
Armed-Forces    9
Name: age, dtype: int64
==========================================