In [4]:
import sys

sys.version

'3.7.13 (default, Mar 29 2022, 02:18:16) \n[GCC 7.5.0]'

Из демо PostgreSQL базы данных (task_02) загрузите таблицы в PySpark DataFrames.

In [2]:
import psycopg2
import pandas as pd
from pyspark.sql import SparkSession
from sqlalchemy import create_engine

DB_NAME = 'ded'
SELECT_TMP = 'SELECT * FROM {table_name}'


appName = "PySpark PostgreSQL Example - via psycopg2"
master = "local"

spark = SparkSession.builder.master(master).appName(appName).getOrCreate()

engine = create_engine(
    f"postgresql+psycopg2://postgres:postgres@localhost/{DB_NAME}?client_encoding=utf8")

tables_df = pd.read_sql(
    f"SELECT table_name FROM information_schema.tables WHERE table_type='BASE TABLE' AND table_schema='public';",
    engine)

table_name_list = tables_df.table_name

# fr_d - frame_dict
fr_d = {}
error_dict = {}

for tname in table_name_list:
    query = SELECT_TMP.format(table_name=tname)
    try:
        frame = spark.createDataFrame(pd.read_sql(query, engine))
        fr_d[tname] = frame
#         frame.show(1, vertical=True)
    except Exception as _e:
#         print(f'ERROR with table {tname}')
        error_dict[tname] = _e
print(error_dict.keys())
print('finish')

22/06/20 11:22:32 WARN Utils: Your hostname, home resolves to a loopback address: 127.0.1.1; using 10.202.32.211 instead (on interface wlp3s0)
22/06/20 11:22:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/06/20 11:22:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/06/20 11:22:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
dict_keys(['film', 'payment_p2020_06', 'staff'])
finish

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType, FloatType, MapType, TimestampType, ArrayType

film_table = pd.read_sql(
    "SELECT * FROM film;",
    engine)
schema = StructType([StructField("film_id", IntegerType(), True),
                     StructField("title", StringType(), True),
                     StructField("description", StringType(), True),
                     StructField("release_year", IntegerType(), True),
                     StructField("language_id", IntegerType(), False),
                     StructField("original_language_id", IntegerType(), True),
                     StructField("rental_duration", IntegerType(), True),
                     StructField("rental_rate", FloatType(), True),
                     StructField("length", IntegerType(), True),
                     StructField("replacement_cost", DoubleType(), True),
                     StructField("rating", StringType(), True),
                     StructField("last_update", TimestampType(), True),
                     StructField("special_features", ArrayType(StringType()), True),
                     StructField("fulltext", StringType(), True),])

frame = spark.createDataFrame(film_table, schema=schema)
fr_d['film'] = frame

In [7]:
table_name_list

0           film_actor
1              address
2                 city
3                actor
4             category
5              country
6             customer
7              payment
8                 film
9        film_category
10           inventory
11            language
12    payment_p2020_03
13    payment_p2020_02
14    payment_p2020_06
15              rental
16    payment_p2020_05
17               staff
18               store
19    payment_p2020_01
20    payment_p2020_04
Name: table_name, dtype: object

In [4]:
import pyspark.sql.functions as F

Вывести количество фильмов в каждой категории, отсортировать по убыванию.

In [5]:
fr_d['film_category'].groupBy("category_id").count().orderBy(-F.col("count")).show()

+-----------+-----+
|category_id|count|
+-----------+-----+
|         15|   74|
|          9|   73|
|          8|   69|
|          6|   68|
|          2|   66|
|          1|   64|
|         13|   63|
|          7|   62|
|         10|   61|
|         14|   61|
|          3|   60|
|          5|   58|
|          4|   57|
|         16|   57|
|         11|   56|
|         12|   51|
+-----------+-----+

In [6]:
film = fr_d['film']
film_actor = fr_d['film_actor']
actor = fr_d['actor']
rental = fr_d['rental']
payment = fr_d['payment']
film_category = fr_d['film_category']
category = fr_d['category']
inventory = fr_d['inventory']
address = fr_d['address']
customer = fr_d['customer']
city = fr_d['city']

Вывести 10 актеров, чьи фильмы большего всего арендовали, отсортировать по убыванию.

In [7]:
from pyspark.sql.functions import sum as _sum

windowSpecAgg = Window.partitionBy("rental_duration").orderBy("rental_duration")

film.join(film_actor).where(film.film_id == film_actor.film_id)\
    .join(actor).where(actor.actor_id == film_actor.actor_id)\
    .groupBy(film_actor.actor_id, actor.first_name, actor.last_name)\
    .agg(F.sum("rental_duration").alias("summ"))\
    .orderBy(-F.col("summ")).show(10)

+--------+----------+---------+----+
|actor_id|first_name|last_name|summ|
+--------+----------+---------+----+
|     107|      GINA|DEGENERES| 209|
|     102|    WALTER|     TORN| 201|
|     198|      MARY|   KEITEL| 192|
|     181|   MATTHEW|   CARREY| 190|
|     106|   GROUCHO|    DUNST| 183|
|      65|    ANGELA|   HUDSON| 183|
|      23|    SANDRA|   KILMER| 181|
|      60|     HENRY|    BERRY| 180|
|      13|       UMA|     WOOD| 179|
|     119|    WARREN|  JACKMAN| 178|
+--------+----------+---------+----+
only showing top 10 rows

Вывести категорию фильмов, на которую потратили больше всего денег.

In [87]:
rental\
.join(payment).where(rental.rental_id == payment.rental_id)\
.join(inventory).where(inventory.inventory_id == rental.inventory_id)\
.join(film_category).where(film_category.film_id == inventory.film_id)\
.join(category).where(category.category_id == film_category.category_id)\
.groupBy(category.category_id, category.name)\
.agg(F.sum("amount").alias("amount_sum"))\
.orderBy(-F.col("amount_sum")).show(1)

+-----------+------+-----------------+
|category_id|  name|       amount_sum|
+-----------+------+-----------------+
|         15|Sports|5314.209999999844|
+-----------+------+-----------------+
only showing top 1 row

Вывести названия фильмов, которых нет в inventory.

In [318]:
df_left_anti = film.join(inventory, film["film_id"] == inventory["film_id"], "leftanti").select(F.col("title")).show()

Вывести топ 3 актеров, которые больше всего появлялись в фильмах в категории “Children”. Если у нескольких актеров одинаковое кол-во фильмов, вывести всех..

In [22]:
from pyspark.sql.window import Window

df1 = film\
.join(film_category).where(film_category.film_id == film.film_id)\
.join(category).where(category.category_id == film_category.category_id)\
.join(film_actor).where(film_actor.film_id == film.film_id)\
.filter(category.name == "Children")\
.groupBy("actor_id").agg(F.count("actor_id").alias("count"))


window = Window.orderBy(F.col("count").desc())
result = df1.withColumn("dense", F.dense_rank().over(window))

result.where(F.col("dense") <= 3).show()

22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:36 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:36 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:36 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/06/20 11:31:36 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
+--------+-----+-----+
|actor_id|count|dense|
+--------+-----+-----+
|      17|    7|    1|
|     127|    5|    2|
|      80|    5|    2|
|      66|    5|    2|
|     140|    5|    2|
|     187|    4|    3|
|      58|    4|    3|
|     150|    4|    3|
|     142|    4|    3|
|     131|    4|    3|
|      37|    4|    3|
|     101|    4|    3|
|      92|    4|    3|
|      13|    4|    3|
|     173|    4|    3|
|      81|    4|    3|
|      23|    4|    3|
|     109|    4|    3|
|      93|    4|    3|
+--------+-----+-----+

22/06/20 11:33:54 WARN JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/blockmgr-2153bc41-9149-4149-977a-6c38e8632d52. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/blockmgr-2153bc41-9149-4149-977a-6c38e8632d52
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:171)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:110)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:91)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1206)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1(DiskBlockManager.scala:374)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1$adapted(DiskBlockManager.scala:370)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at org.apache.spark.storage.DiskBlockManager.doStop(DiskBlockManager.scala:370)
	at org.apache.spark.storage.DiskBlockManager.stop(DiskBlockManager.scala:365)
	at org.apache.spark.storage.BlockManager.stop(BlockManager.scala:2016)
	at org.apache.spark.SparkEnv.stop(SparkEnv.scala:95)
	at org.apache.spark.SparkContext.$anonfun$stop$23(SparkContext.scala:2140)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1484)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2140)
	at org.apache.spark.SparkContext.$anonfun$new$35(SparkContext.scala:660)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:214)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$2(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:2066)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$1(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 54138)
Traceback (most recent call last):
  File "/home/alex/miniconda3/envs/Spark/lib/python3.7/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/home/alex/miniconda3/envs/Spark/lib/python3.7/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/home/alex/miniconda3/envs/Spark/lib/python3.7/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/home/alex/miniconda3/envs/Spark/lib/python3.7/socketserver.py", line 720, in __init__
    self.handle()
  File "/home/alex/miniconda3/envs/Spark/lib/python3.7/site-packages/pyspark/accumulators.py", line 281, in handle
    poll(accum_updates)
  File "/home/alex/miniconda3/envs/Spark/lib/python3.7/site-packages/pyspark/accumulators.py", line 253, in poll
    if func():
  File "/home/alex/miniconda3/envs/Spark/lib/python3.7/site-packages/pyspark/accumulators.py", line 257, in accum_updates
    num_updates = read_int(self.rfile)
  File "/home/alex/miniconda3/envs/Spark/lib/python3.7/site-packages/pyspark/serializers.py", line 595, in read_int
    raise EOFError
EOFError
----------------------------------------

Вывести города с количеством активных и неактивных клиентов (активный — customer.active = 1).
Отсортировать по количеству неактивных клиентов по убыванию.

In [238]:
city\
.join(address).where(address.city_id == city.city_id)\
.join(customer).where(address.address_id == customer.address_id)\
.groupBy("city", "active").count().orderBy(F.col("active").asc(), F.col("count").desc()).show()

+----------------+------+-----+
|            city|active|count|
+----------------+------+-----+
|          Kamyin|     0|    1|
|        Xiangfan|     0|    1|
|   Coatzacoalcos|     0|    1|
|       Najafabad|     0|    1|
|         Bat Yam|     0|    1|
| Southend-on-Sea|     0|    1|
|          Amroha|     0|    1|
|        Uluberia|     0|    1|
|      Kumbakonam|     0|    1|
|          Daxian|     0|    1|
|         Wroclaw|     0|    1|
|     Szkesfehrvr|     0|    1|
|Charlotte Amalie|     0|    1|
|          Ktahya|     0|    1|
|       Pingxiang|     0|    1|
|          London|     1|    2|
|          Aurora|     1|    2|
|          Moscow|     1|    1|
|            Ondo|     1|    1|
|         Asuncin|     1|    1|
+----------------+------+-----+
only showing top 20 rows

Вывести категорию фильмов, у которой самое большое кол-во часов суммарной аренды в городах (customer.address_id в этом city), и которые начинаются на букву “a”. Тоже самое сделать для городов в которых есть символ “-”.

In [314]:
from pyspark.sql.dataframe import DataFrame

a_cities = city.filter(F.col("city").like("A%"))
hyphen_cities = city.filter(F.col("city").like("%-%"))


def find_category_with_max_rent_time(cities_to_filter: DataFrame) -> None:
    rent_time = cities_to_filter\
        .join(address).where(cities_to_filter.city_id == address.city_id)\
        .join(customer).where(customer.address_id == address.address_id)\
        .join(rental).where(rental.customer_id == customer.customer_id)\
        .withColumn("date_diff_sec",
                    F.unix_timestamp(F.col("return_date")) - F.unix_timestamp(F.col("rental_date")))\
            .select("rental_id", "inventory_id", "city", "date_diff_sec")

    result_seconds = rent_time\
        .join(inventory).where(rent_time.inventory_id == inventory.inventory_id)\
        .join(film_category).where(inventory.film_id == film_category.film_id)\
        .join(category).where(film_category.category_id == category.category_id)\
        .groupBy("name").sum("date_diff_sec").orderBy(F.col("sum(date_diff_sec)").desc()).first()

    print(f'{result_seconds[0]}, {int(result_seconds[1] / 3600)} hours')
    

print('A-cities')    
find_category_with_max_rent_time(a_cities)
print('Hyphen-cities')
find_category_with_max_rent_time(hyphen_cities)

A-cities
Sports, 10970 hours
Hyphen-cities
Foreign, 6472 hours